@model DesignPattern.Mediator.MediatorPattern.Commands.CreateProductCommand
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<div class="container">
    <br />
    <br />
    <form method="post">
       
        <label>< Ürün Name> </label>
        <input type="text" asp-for="ProductName" class="form-control" />
        <br />
        <label>< Ürün Fiyatı > </label>
        <input type="text" asp-for="ProductPrice" class="form-control" />
        <br />
        <label>< Stok Sayısı > </label>
        <input type="text" asp-for="ProductStock" class="form-control" />
        <br />
        <label>< Stok Tipi > </label>
        <input type="text" asp-for="ProductStockType" class="form-control" />
        <label>< Ürün Kategori > </label>
        <input type="text" asp-for="ProductCategory" class="form-control" />
        <br />
        <br />
        <button class="btn btn-outline-primary"> Ürünü Ekle </button>
    </form>
</div>