@model DesignPattern.Mediator.MediatorPattern.Results.GetProductByIDQueryResult
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<div class="container">
    <br />
    <br />
    <label style="color-rendering">Ürün ID</label>
    <input type="text" class="form-control" asp-for="ProductID" />
    <br />
    <label> ürün adı</label>
    <input type="text" class="form-control" asp-for="ProductID" />
    <br />
    <label>ürün stok sayısı</label>
    <input type="text" class="form-control" asp-for="ProductID" />
    <br />
</div>