@model DesignPattern.Face.Dal.Product
@{
    ViewData["Title"] = "AddNewProduct";
    Layout = "~/Views/Shared/_FaceLayout.cshtml";
}


<h1>Yeni Ürün Girişi</h1>
<form method="post">
    <label>Ürün Adı</label>
    <input type="text" class="form-control" asp-for="ProductName" />
    <br />
    <label>Ürün Stok Sayısı</label>
    <input type="text" class="form-control" asp-for="ProductStock" />
    <br />
    <label>Ürün Fiyatı</label>
    <input type="text" class="form-control" asp-for="ProductPrice" />
    <label>Ürün Kategorileri</label>
    <input type="text" class="form-control" asp-for="ProductCategory" />

    <br />
    <br />
</form>