@model CustomerViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<div class="container">
<form method="post">
   
    <label>Gönderici ID</label>
    <input type="text" class="form-control" asp-for="SenderID" />
    <br />
    <label>Alıcı ID</label>
    <input type="text" class="form-control" asp-for="ReciverID" />
    <br />
    <label>Miktar</label>
    <input type="text" class="form-control" asp-for="Amount" />
    <br />
    
    <button class="btn btn-danger">Gönder</button>
    <br />
</form>
</div>