@model List<CustomerProcessViewModel>
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />


<div class="container">
    <h2 class="text-center mb-4">Customer Process List</h2>
    <table class="table table-bordered">
        <thead>
            <tr class="table-primary">
                <th colspan="2" class="text-center">Name</th>
                <th colspan="2" class="text-center">Amount</th>
                <th colspan="2" class="text-center">Employee Name</th>
                <th colspan="3" class="text-center">Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td colspan="2">@item.Name</td>
                    <td colspan="2">@item.Amount</td>
                    <td colspan="2">@item.EmployeeName</td>
                    <td colspan="3">@item.Description</td>
                </tr>
            }
        </tbody>
    </table>
</div>
